* {
    margin: 0;
    padding: 0;
    text-align: center;

}
h1{
    background-color: rgb(31, 39, 45);
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 170px;
    width: 150px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .choice:hover{
        opacity: 69%;
    cursor: pointer;
    background-color: black;
}

img{
    height: 170px;
    width: 150px;
    object-fit: cover;
    border-radius: 20%;
}
body{
    background-color:rgb(101, 213, 238);
}
.choices{
    gap: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;

}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#you,#camp{
    font-size: 4rem;
}
#msg{
    background-color: gold;
    color: #fff;
    font-size: 4rem;
    margin: top 2rem;
    display: inline;
    padding: 1remgit;
    border-radius: 2rem;
}
.msg-container
{
    margin-top: 2rem;
}
